#!version:1.0.0.1

### This file is the exported MAC-non-static.cfg.

### For security, the following parameters with password haven't been display in this file.
###account.1.password =
###ldap.password =
account.1.auth_name = 
account.1.codec.pcmu.priority = 1
account.1.codec.pcma.priority = 2
account.1.codec.g729.enable = 0
account.1.codec.g722.priority = 3
account.1.display_name = 36729
account.1.enable = 1
account.1.label = 36729
account.1.sip_server.1.address = 
account.1.user_name = 36729
action_url.show_msgbox = 1
directory.edit_default_input_method = ABC
directory.ldap.password.default_input_method = 1
expansion_module.1.key.10.label = 
expansion_module.1.key.10.line = 1
expansion_module.1.key.10.type = 13
expansion_module.1.key.10.value = 73531
expansion_module.1.key.11.label = АК
expansion_module.1.key.11.line = 1
expansion_module.1.key.11.type = 13
expansion_module.1.key.11.value = 73006
expansion_module.1.key.12.label = ЕН
expansion_module.1.key.12.line = 1
expansion_module.1.key.12.type = 13
expansion_module.1.key.12.value = 73236
expansion_module.1.key.13.label =  КМ
expansion_module.1.key.13.line = 1
expansion_module.1.key.13.type = 13
expansion_module.1.key.13.value = 54303
expansion_module.1.key.14.label =  ИН
expansion_module.1.key.14.line = 1
expansion_module.1.key.14.type = 13
expansion_module.1.key.14.value = 36800
expansion_module.1.key.15.label =  ВО
expansion_module.1.key.15.line = 1
expansion_module.1.key.15.type = 13
expansion_module.1.key.15.value = 54130
expansion_module.1.key.16.label =  АЮ
expansion_module.1.key.16.line = 1
expansion_module.1.key.16.type = 13
expansion_module.1.key.16.value = 65364
expansion_module.1.key.17.label =  АЮ
expansion_module.1.key.17.line = 1
expansion_module.1.key.17.type = 13
expansion_module.1.key.17.value = 67525
expansion_module.1.key.18.label =  ДВ
expansion_module.1.key.18.line = 1
expansion_module.1.key.18.type = 13
expansion_module.1.key.18.value = 54050
expansion_module.1.key.19.label =  РМ
expansion_module.1.key.19.line = 1
expansion_module.1.key.19.type = 13
expansion_module.1.key.19.value = 64155
expansion_module.1.key.2.label =  ГО
expansion_module.1.key.2.line = 1
expansion_module.1.key.2.type = 13
expansion_module.1.key.2.value = 73600
expansion_module.1.key.20.label =  АО
expansion_module.1.key.20.line = 1
expansion_module.1.key.20.type = 13
expansion_module.1.key.20.value = 73555
expansion_module.1.key.21.label =  ВВ
expansion_module.1.key.21.line = 1
expansion_module.1.key.21.type = 13
expansion_module.1.key.21.value = 73049
expansion_module.1.key.22.label =  МА
expansion_module.1.key.22.line = 1
expansion_module.1.key.22.type = 13
expansion_module.1.key.22.value = 65203
expansion_module.1.key.23.label =  ДА
expansion_module.1.key.23.line = 1
expansion_module.1.key.23.type = 13
expansion_module.1.key.23.value = 73595
expansion_module.1.key.24.label =  НГ - МСК
expansion_module.1.key.24.line = 1
expansion_module.1.key.24.type = 13
expansion_module.1.key.24.value = 74112
expansion_module.1.key.25.label =  НГ - НН
expansion_module.1.key.25.line = 1
expansion_module.1.key.25.type = 13
expansion_module.1.key.25.value = 22312
expansion_module.1.key.26.label =  ОВ - МСК
expansion_module.1.key.26.line = 1
expansion_module.1.key.26.type = 13
expansion_module.1.key.26.value = 73123
expansion_module.1.key.27.label =  ОВ - НН
expansion_module.1.key.27.line = 1
expansion_module.1.key.27.type = 13
expansion_module.1.key.27.value = 22180
expansion_module.1.key.28.label =  МЮ - МСК
expansion_module.1.key.28.line = 1
expansion_module.1.key.28.type = 13
expansion_module.1.key.28.value = 74209
expansion_module.1.key.29.label =  МЮ - НН
expansion_module.1.key.29.line = 1
expansion_module.1.key.29.type = 13
expansion_module.1.key.29.value = 23701
expansion_module.1.key.3.label =  АЮ
expansion_module.1.key.3.line = 1
expansion_module.1.key.3.type = 13
expansion_module.1.key.3.value = 73054
expansion_module.1.key.30.label =  НП
expansion_module.1.key.30.line = 1
expansion_module.1.key.30.type = 13
expansion_module.1.key.30.value = 22211
expansion_module.1.key.31.label =  НВ
expansion_module.1.key.31.line = 1
expansion_module.1.key.31.type = 13
expansion_module.1.key.31.value = 74998
expansion_module.1.key.32.label =  АЮ
expansion_module.1.key.32.line = 1
expansion_module.1.key.32.type = 13
expansion_module.1.key.32.value = 73577
expansion_module.1.key.33.label =  ЯВ
expansion_module.1.key.33.line = 1
expansion_module.1.key.33.type = 13
expansion_module.1.key.33.value = 22874
expansion_module.1.key.34.label =  ЮБ
expansion_module.1.key.34.line = 1
expansion_module.1.key.34.type = 13
expansion_module.1.key.34.value = 73262
expansion_module.1.key.35.label =  ВН
expansion_module.1.key.35.line = 1
expansion_module.1.key.35.type = 13
expansion_module.1.key.35.value = 73259
expansion_module.1.key.36.label =  ИВ
expansion_module.1.key.36.line = 1
expansion_module.1.key.36.type = 13
expansion_module.1.key.36.value = 73767
expansion_module.1.key.37.label =  СВ
expansion_module.1.key.37.line = 1
expansion_module.1.key.37.type = 13
expansion_module.1.key.37.value = 36701
expansion_module.1.key.38.label =  СГ
expansion_module.1.key.38.line = 1
expansion_module.1.key.38.type = 13
expansion_module.1.key.38.value = 36760
expansion_module.1.key.39.label =  СП
expansion_module.1.key.39.line = 1
expansion_module.1.key.39.type = 13
expansion_module.1.key.39.value = 36727
expansion_module.1.key.4.label =  ВН
expansion_module.1.key.4.line = 1
expansion_module.1.key.4.type = 13
expansion_module.1.key.4.value = 73010
expansion_module.1.key.40.label =  ВН
expansion_module.1.key.40.line = 1
expansion_module.1.key.40.type = 13
expansion_module.1.key.40.value = 36792
expansion_module.1.key.6.label =  ГИ
expansion_module.1.key.6.line = 1
expansion_module.1.key.6.type = 13
expansion_module.1.key.6.value = 73028
expansion_module.1.key.7.label =  ЕБ
expansion_module.1.key.7.line = 1
expansion_module.1.key.7.type = 13
expansion_module.1.key.7.value = 65798
expansion_module.1.key.8.label =  НБ
expansion_module.1.key.8.line = 1
expansion_module.1.key.8.type = 13
expansion_module.1.key.8.value = 73041
expansion_module.1.key.9.label =  ИВ
expansion_module.1.key.9.line = 1
expansion_module.1.key.9.type = 13
expansion_module.1.key.9.value = 22272
expansion_module.2.key.1.label =  ВВ
expansion_module.2.key.1.line = 1
expansion_module.2.key.1.type = 13
expansion_module.2.key.1.value = 36728
expansion_module.2.key.2.label =  Йожеф
expansion_module.2.key.2.line = 1
expansion_module.2.key.2.type = 13
expansion_module.2.key.2.value = 36708
expansion_module.2.key.3.label =  И.П.
expansion_module.2.key.3.line = 1
expansion_module.2.key.3.type = 13
expansion_module.2.key.3.value = 36924
features.action_uri_limit_ip = 
features.bluetooth_enable = 1
features.show_action_uri_option = 0
ldap.base = ou=, dc=, dc=local
ldap.call_in_lookup = 1
ldap.customize_label = Phone book HU
ldap.display_name = %cn
ldap.enable = 1
ldap.host = 
ldap.ldap_sort = 1
ldap.name_attr = cn sn displayName
ldap.name_filter = (|(cn=%)(sn=%))
ldap.numb_attr = telephoneNumber mobile mail departmentNumber
ldap.number_filter = (|(telephoneNumber=%)(mobile=%))
ldap.user = 
linekey.1.label = 
linekey.1.type = 16
linekey.1.value = 36702
linekey.10.line = 0
linekey.10.type = 0
linekey.11.line = 0
linekey.11.type = 0
linekey.12.line = 0
linekey.12.type = 0
linekey.13.line = 0
linekey.13.type = 0
linekey.14.line = 0
linekey.14.type = 0
linekey.15.line = 0
linekey.15.type = 0
linekey.16.line = 0
linekey.16.type = 0
linekey.2.label = .(МСК)
linekey.2.line = 1
linekey.2.type = 13
linekey.2.value = 74305
linekey.3.label =  ДВ
linekey.3.line = 1
linekey.3.type = 13
linekey.3.value = 73570
linekey.4.label =  АВ
linekey.4.line = 1
linekey.4.type = 13
linekey.4.value = 74108
linekey.5.label =  ЕВ
linekey.5.line = 1
linekey.5.type = 13
linekey.5.value = 22207
linekey.6.label =  НИ
linekey.6.line = 1
linekey.6.type = 13
linekey.6.value = 73281
linekey.7.line = 0
linekey.7.type = 0
linekey.8.line = 0
linekey.8.type = 0
linekey.9.line = 0
linekey.9.type = 0
local_time.date_format = 3
local_time.ntp_server1 = 
local_time.ntp_server2 = %EMPTY%
local_time.time_zone = +1
local_time.time_zone_name = Hungary(Budapest)
phone_setting.custom_headset_mode_status = 1
phone_setting.redial_user_name = 
programablekey.1.history_type = 0
programablekey.1.line = 1
programablekey.2.label = 
programablekey.2.line = 1
programablekey.2.type = 38
programablekey.3.history_type = 0
programablekey.3.label = . History
programablekey.3.line = 1
programablekey.3.type = 28
programablekey.3.value = 36777
programablekey.5.history_type = 0
programablekey.5.line = 1
voice.group_listening.spk_vol = 15
voice.handfree.spk_vol = 15
voice.handfree.tone_vol = 15
voice.handset.spk_vol = 11
voice.handset.tone_vol = 9
voice.headset.spk_vol = 11
voice.headset.tone_vol = 15
voice.ring_vol = 3
