{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/yealinkconf" method="post" class="form-contact">

<p><label>Model: </label><select name="model" value="">
    <option selected disabled>Select a model phone</option>
    <option value="SIP-19">Yealink SIP-19</option>
    <option value="SIP-21">Yealink SIP-21</option>
    <option value="SIP-23">Yealink SIP-23</option>
</select></p>

<p><label>MAC: </label> <input type="text" name="mac" value="" requied />
<p><label>Number: </label> <input type="text" name="number" value="" requied />
<p><label>Tab_number: </label> <input type="text" name="tabnumber" value="" requied />

<p><input type="submit" value="Отправить" />
</form>
{% endblock %}